{% extends 'base.html.twig' %}

{% block title %}Se connecter - Les Magiciens du Fouet{% endblock %}

{% block content %}
<article id="loginBackground">
    <div class="formContainer">
        <form method="post" enctype="application/x-www-form-urlencoded" id="form">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% for message in app.flashes('notice') %}
                <div class="alert alert-info">{{ message }}</div>
            {% endfor %}

            {% if app.user %}
                <div class="mb-3">
                    Vous êtes connecté avec {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <h2 class="h3 mb-3 font-weight-normal">Merci de vous connecter</h2>
            <label for="inputEmail">Votre Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Votre email" required autofocus>
            <label for="inputPassword">Votre mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Votre mot de passe" readonly>
            <div id="virtualPassword"></div>
            <button type="button" class="buttonDelete" id="effacer">Effacer</button>
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            <button class="submit" type="submit">
                Se connecter
            </button>
            <hr>
            <p class="text-center"><a href="{{ path('reset_password') }}">Mot de passe oublié</a> ?</p>
            <p class="text-center">Ou souhaitez-vous <a href="{{ path('register') }}"><u>Créer un compte</u></a> ?</p>
        </form>
    </div>
</article>
{% endblock %}
{% block script %}
<script src="{{ asset('assets/js/app.js') }}"></script>
{% endblock %}