{% extends 'base.html.twig' %}

{% block title %}Erreur de paiement - Les Magiciens du Fouet{% endblock %}

{% block content %}
    <div class="container">
        <h2>Erreur de paiement</h2><br>
        <div>
            <p>
                Bonjour <b>{{ order.user.firstname }} {{ order.user.lastname }}</b>, <br> <br>
                Il semblerait que votre paiement ait échouée pour votre commande n°<b>{{ order.reference }}</b>.<br>
                Une confirmation d'erreur vient de vous être envoyée par email à l'adresse <b>{{ order.user.email }}</b>.
            </p>
            <hr class="mb-5">
            <a href="{{ path('order') }}" class=" addToCart">Réessayer le paiement</a>
        </div>
    </div>

{% endblock %}
