{% extends 'base.html.twig' %}

{% block title %}Nos cuisiniers - Les Magiciens du Fouet{% endblock %}

{% block content %}
    <article id="cuisinier">
        <h1>Nos cuisiniers</h1>
        <ul>
            {% for cook in cooks %}
                <li>
                    <a href="{{ path('cookRecipes', {slug: cook.slug})  }}">
                        <img src="{{ asset('uploads/cooks/') }}{{ cook.illustration }}" alt="cuisinier" class="imgCuisinier">
                        <h2> {{ cook.firstname }} {{ cook.lastname }}</h2>
                    </a>
                    <a class="msg button" href="{{ path('cook', {slug: cook.slug})  }}"> Voir ce cuisinier</a>
                </li>
            {% endfor %}
        </ul>
    </article>
{% endblock %}
