{% extends 'base.html.twig' %}

{% block javascript %}
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block title %}Paiement de ma commande - Les Magiciens du Fouet{% endblock %}

{% block content %}
    <div class="container">
        <h2>Mon récapitulatif</h2>
        <p class="text-center">Vérifiez vos informations avant de payer votre commande.</p>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <p class="col-form-label">Mon adresse de livraison</p>
                <div class="form-check">
                    <p>{{ delivery|raw }}</p>
                </div>
                <p class="col-form-label">Mon transporteur</p>
                <div class="form-check">
                    <p>{{ carrier.name }}</p>
                    <p>{{ carrier.description }}</p>
                    <p>{{(carrier.price/100)| number_format(2, ',', ' ')}} €</p>
                </div>

            </div>
            <div class="col-md-6 mb-4">
                <p class="col-form-label text-center">Ma commande</p>
                <div class="orderSummary">
                    {% set total = null %}
                    {% for recipe in cart %}
                        <div class="row">
                            <div class="col-4 col-md-3">
                                <img src="/uploads/recipes/{{ recipe.recipe.illustration }}" alt="{{ recipe.recipe.title }}" class="cartImg" >
                            </div>
                            <div class="col-4 col-md-7 my-auto">
                                {{ recipe.recipe.title }} <br>
                                x {{ recipe.quantity }}
                            </div>
                            <div class="col-4 col-md-2 my-auto">
                                {{ (recipe.recipe.price * recipe.quantity / 100) | number_format(2, ',', ' ') }}  €
                            </div>
                        </div>
                        {% set total = total + (recipe.recipe.price * recipe.quantity ) %}
                    {% endfor %}
                </div>
                <hr>
                <p><b>Sous-Total :</b> {{ (total / 100) | number_format(2, ',', ' ') }} € </p>
                <p><b>Livraison :</b> {{(carrier.price/100)| number_format(2, ',', ' ')}} €</p>
                <hr>
                <p><b>Total:</b> {{ ((total / 100)+(carrier.price/100))| number_format(2, ',', ' ') }} €</p>
                <a id="checkout-button" class="btn btn-block addToCart">Payer {{ ((total / 100)+(carrier.price/100))| number_format(2, ',', ' ') }} €</a>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script type="text/javascript">
        // Create an instance of the Stripe object with your publishable API key
        var stripe = Stripe("pk_test_51ITofBEfgZpLY13qFbXWGV4hAdgCzFz0BWiiFhKiBMK7LbEAChVXIB0WJFXpSM5IxptHoyBcjVSZ1b02AOPz98BL00F7GTBbfA");
        var checkoutButton = document.getElementById("checkout-button");
        checkoutButton.addEventListener("click", function () {
            fetch("/commande/create-session/{{ reference }}", {
                method: "POST",
            })
                .then(function (response) {
                    return response.json();
                })
                .then(function (session) {
                    if (session.error === 'order'){
                        window.location.replace('{{ path('order') }}');
                    }else {
                        return stripe.redirectToCheckout({ sessionId: session.id });
                    }

                })
                .then(function (result) {
                    // If redirectToCheckout fails due to a browser or network
                    // error, you should display the localized error message to your
                    // customer using error.message.
                    if (result.error) {
                        alert(result.error.message);
                    }
                })
                .catch(function (error) {
                    console.error("Error:", error);
                });
        });
    </script>
{% endblock %}